<!DOCTYPE html>
<html lang="en-US" ng-app="testTask">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular test app</title>
    <link rel="stylesheet" id="main-css" href="/build/css/main.min.css"/>
    <script src="/lib/angular/angular.js"></script>
    <script src="/app.js"></script>
</head>
<body>
<header class="header">
    <div class="header__top-bar container">
        <div class="header__logo">
            <img src="/build/images/boot.png" alt="logo" width="53" height="40">
        </div>
        <nav class="header__nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#main">Products</a></li>
                <li><a href="#"><img src="/build/images/cart.png" alt="" height="20" width="24"></a></li>
            </ul>
        </nav>
    </div>
    <div class="header__hero container">
        <h1 class="header__h1">Our clothing, your comfort</h1>
        <p class="header__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore
            magna aliqua.</p>
        <a href="#main" class="header__scroll-down">
            <img src="/build/images/chevron-down.png" alt="" width="34" height="22">
        </a>
    </div>
</header>
<main id="main" ng-controller="productsCtrl">
    <div class="filter">
        <div class="container">
            <div class="filter__checkboxes">
                <input type="checkbox" class="filter__checkbox" name="men" value="men" id="item-men" ng-checked="showCategory.men" ng-model="showCategory.men" ng-change="changeFilter('men')">
                <label for="item-men" class="filter__label">Men</label>
                <input type="checkbox" class="filter__checkbox" name="women" value="women" id="item-women"  ng-checked="showCategory.women" ng-model="showCategory.women" ng-change="changeFilter('women')">
                <label for="item-women" class="filter__label">Woman</label>
                <input type="checkbox" class="filter__checkbox" name="child" value="child" id="item-child" ng-checked="showCategory.child" ng-model="showCategory.child" ng-change="changeFilter('child')">
                <label for="item-child" class="filter__label">Child</label>
            </div>
            <button class="filter__reset" ng-click="resetFilter()">see all products</button>
        </div>
    </div>
    <div class="products">
        <div class="container">
            <div class="product-card" tabindex="{{$index}}" ng-repeat="item in data.items | filter: productsFilter">
                <div class="product-card__top-bar">
                    <select name="sizes" class="product-card__size">
                        <option ng-repeat="option in item.options" value="{{option}}"  class="product-card__option">{{option}}</option>
                    </select>
                </div>
                <div class="product-card__image">
                    <img src="/build/images/{{item.img}}.png" alt="{{item.name}}">
                </div>
                <div class="product-card__bottom-bar">
                    <div class="product-card__title">{{item.name}}</div>
                    <div class="product-card__price">{{item.price}}€</div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer__top-bar">
        <div class="container">
            <a href="#" class="footer__tw-link">
                <img src="/build/images/twitter.png" alt="" height="24" width="29">
                “ E-commerce psd theme available ”
            </a>
        </div>
    </div>
    <div class="footer__main-bar">
        <div class="container">
            <div class="footer__left-col">
                <div class="footer__title">
                    Trekking
                </div>
                <div class="footer__about">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </div>
            </div>
            <div class="footer__right-col">
                <ul class="footer__links" ng-controller="menuCtrl">
                    <li ng-repeat="item in data.footerMenu">
                        <a href="{{item.link}}">
                            {{item.name}}
                        </a>
                    </li>
                </ul>
                <div class="footer__copyright">
                    Design by gianluca cosetta
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>