.products {

  .container {
    padding-top: rem(80px);
    padding-bottom:  rem(252px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 65px 65px;

    @media (max-width: $break_md) {
      gap: 2rem;
    }

    @media (max-width: $break_sm) {
      grid-template-columns: repeat(1, 1fr);
      padding-top: 2rem;
      padding-bottom:  2rem;
    }
  }
}